{% extends "qapp/base.html" %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-10">
Тест з {{ object.name }}.
			</div>

	<div class="col-2">

			<a href="{% url 'quizzes' %}"> До списку тестів </a>
	</div>
</div>
<hr>

<form method="post" action="{% url 'test' %}" id="quiz-form">
	{% csrf_token %}
	
{% for questions_answers in dict_questions_answers %}
	{% for key,value in questions_answers.items %}
		<div class="mb-2">
			<b>Питання:</b><br>
			{{ key }}
		</div> 
			<b>Варіанти відповідей:</b><br>
			{% for a in value %}
			<div>

				<input type="radio" name="{{ key }}" id="{{ a }}" value="{{ a }}" class="ans">
					<label>{{ a }}</label>
			</div>
			
			{% endfor %}
		<hr>
		
	{% endfor %}
{% endfor %}

<button type="submit" class="btn btn-primary">OK</button>
</form>
</div>
<script type="text/javascript" src="{% static 'qapp/results.js' %}"></script>
{% endblock content %}